@import "tailwindcss";
@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}
.card-one,
.card-two,
.card-three {
  animation: float 6s ease-in-out infinite;
}

.card-one {
  animation-delay: 0s;
}
.card-two {
  animation-delay: 1s;
}
.card-three {
  animation-delay: 2s;
}
