@import "tailwindcss";
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line {
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
}

.group:hover .line {
  animation: lineExpand 0.4s ease-out forwards;
}

@keyframes lineExpand {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}